<div class="container">
  <div class="tutorial-container">
    <h1>What is Draftmon ?</h1>
    <span>
      In Draftmon, create or join rooms where you can draft competitive pokémon
      sets.
    </span>
    <p>
      The objective is to build the strongest team by strategically selecting
      pokémons one after another.
    </p>
    <ul>
      <li>
        Each player opens their first pack, chooses a pokémon, then passes the
        rest to the next player.
      </li>
      <li>
        Players then receive pokémons from the preceding player, select another
        one, and pass the remainder along again.
      </li>
      <li>
        This process repeats for each pokémon in the pack and for each pack...
        The number of pokémons in each pack, as well as the number of packs are
        adjustable. The direction of rotation swaps with each new pack!
      </li>
    </ul>
    <p>
      The key to success here is making the right decisions. Pokémons have
      different types, moves, statistics, items, and abilities, and it's up to
      you to choose the one that will join your team. Will you prioritize raw
      power over synergies? Will you compensate for your weaknesses or go all in
      on your strengths?
    </p>
    <p>
      You now have a pool of available pokémons to compute your final six. Once
      your team is ready, export it in a format compatible with Pokémon Showdown
      and compete with the players you drafted with.
    </p>
    <h1>How can I import my team in Pokémon Showdown?</h1>
    <span
      >You now leave Draftmon with your final team copied to the clipboard and
      heads toward the battling grounds of Pokémon Showdown.</span
    >
    <ul>
      <li>
        Connect to Pokémon Showdown (if it's the first time, click
        <span class="bold">[choose name]</span>,
        <span class="bold">[⚙️]</span> and
        <span class="bold">[register]</span>).
      </li>
      <li>Click <span class="bold">[TeamBuilder]</span>.</li>
      <li>Click <span class="bold">[New Team]</span>.</li>
      <li>Click <span class="bold">[Import from text or URL]</span>.</li>
      <li>Paste your team.</li>
      <li>Click <span class="bold">[Save]</span>.</li>
      <li>
        Set <span class="bold">[Format]</span>: Custom Game (In S/V singles,
        halfway down the list).
      </li>
      <li>
        Put the first pokémon you want to send out at the top of your team using
        <span class="bold">[move]</span>.
      </li>
    </ul>
    <p>Everything is now good to start battling!</p>
    <h1>How can I challenge my favorite nemesis on Pokémon Showdown?</h1>
    <span
      >You or your opponent has to invite the other to a direct challenge!</span
    >
    <ul>
      <li>Go straight to the Home page of Pokémon Showdown.</li>
      <li>Click <span class="bold">[Find a user]</span>.</li>
      <li>
        Type the sweet name of your opponent <span class="bold">[open]</span>.
      </li>
      <li>Click <span class="bold">[chat]</span>.</li>
      <li>A new chat window appears at the top of the page.</li>
      <li>
        Type (click to copy) :
        <span class="copy" (click)="copyChallengeRequest()">
          /challenge <span class="bold">[Gen 9]</span> Custom Game @@@ !Team
          Preview </span
        >.
      </li>
      <li>The challenge request has been sent!</li>
      <li>
        Once the other player clicks <span class="bold">[accept]</span>, the
        battle is on!!!
      </li>
    </ul>
  </div>
</div>
