<div class="container">
  <div class="tutorial-container">
    <h1>What is Draftmon ?</h1>
    <span>
      Draftmon allows you to create or join rooms where you can draft
      competitive pokemon sets.
    </span>
    <p>
      The objective is to build the strongest team by strategically selecting
      pokemons.
    </p>
    <ul>
      <li>
        Each player opens their first pack, chooses a pokemon, then passes the
        rest to the next player.
      </li>
      <li>
        Players then receive pokemon from the preceding player, choose another
        one, and pass the remainder along again.
      </li>
      <li>
        This process repeats for each pokemon in the pack and for each pack...
        The direction of rotation swaps with each new pack!
      </li>
    </ul>
    <p>
      At the end of the draft, you can export your team in a format compatible
      with Pokemon Showdown and compete with the players you drafted with.
    </p>
    <h1>How can I import my team in Pokemon Showdown?</h1>
    <span
      >Once you have your final team copied to the clipboard and have Pokémon
      Showdown open before your eyes.</span
    >
    <ul>
      <li>
        Connect to Pokemon Showdown (if it's the first time, click [choose name]
        and set a password).
      </li>
      <li>[TeamBuilder].</li>
      <li>Click [New Team].</li>
      <li>[Import from text or URL].</li>
      <li>Paste your team.</li>
      <li>[Save].</li>
      <li>Set [Format]: Anything Goes (first column ~15ish).</li>
      <li>
        Put the first pokemon you want to send out at the top of your team using
        [move].
      </li>
    </ul>
    <p>Everything is now good to start battling!</p>
    <h1>How can I challenge my favourite nemesis on Pokemon Showdown?</h1>
    <span
      >You or your opponent has to invite the other to a direct challenge!</span
    >
    <ul>
      <li>Go straigth to the Home page of Pokemon Showdown.</li>
      <li>Click [Find a user].</li>
      <li>Type the sweet name of your opponent [open].</li>
      <li>[chat].</li>
      <li>A new chat window appeared at the top of the page.</li>
      <li>
        type:
        <span class="copy" (click)="copyChallengeRequest()">
          /challenge [Gen 9] Custom Game @@@ !Team Preview </span
        >.
      </li>
      <li>The challenge request has been sent! Let's battle !!!</li>
    </ul>
  </div>
</div>
