<mat-card class="game-parameters-form">
  <form (ngSubmit)="startGame()" #form="ngForm">
    <mat-card-header class="form-field-text">
      <input
        id="roomName"
        type="text"
        matInput
        placeholder="Cool room name"
        [(ngModel)]="parameters.roomName"
        required
        maxlength="30"
        (focus)="onFocus($event)"
        name="roomName"
        class="text-input"
      />
    </mat-card-header>

    <mat-card-content class="form-middle-part">
      <div class="form-column">
        <label for="NmbrOfPlayers">Max players</label>
        <input
          id="NmbrOfPlayers"
          type="number"
          placeholder="8"
          (focus)="onFocus($event)"
          [(ngModel)]="parameters.size"
          required
          min="1"
          max="16"
          name="NmbrOfPlayers"
          class="number-input"
        />
      </div>
      <div class="form-column">
        <label for="NmbrOfPacks">Total packs</label>
        <input
          id="NmbrOfPacks"
          type="number"
          placeholder="1"
          (focus)="onFocus($event)"
          [(ngModel)]="parameters.nbrBooster"
          required
          min="1"
          max="18"
          name="NmbrOfPacks"
          class="number-input"
        />
      </div>
      <div class="form-column">
        <label for="PkmnPerBooster">Pack size</label>
        <input
          id="PkmnPerBooster"
          type="number"
          placeholder="6"
          (focus)="onFocus($event)"
          [(ngModel)]="parameters.pkmnPerBooster"
          required
          min="1"
          max="18"
          name="PkmnPerBooster"
          class="number-input"
        />
      </div>
      <div class="form-column">
        <label for="isRoomPublic">Public Room</label>
        <label class="checkbox-input">
          <input
            id="isRoomPublic"
            type="checkbox"
            [(ngModel)]="parameters.isPublic"
            name="isRoomPublic" />
          <span class="custom-pill"></span
        ></label>
      </div>
    </mat-card-content>
    <button
      type="submit"
      mat-flat-button
      color="primary"
      [disabled]="!formIsValid() || form.invalid"
    >
      Create room
    </button>
  </form>
</mat-card>
