input {
  all: unset;
}

.game-parameters-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 15px;
}

.form-middle-part {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (max-width: 1313px) {
  .form-middle-part {
    flex-direction: column;
  }
}

button {
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.form-field-text {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  text-align: center;
  min-height: 3vh;
  padding: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  .text-input {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 5px;
    width: 100%;
    box-shadow: rgba(44, 44, 44, 0.55) 0px -1px 2px 0px inset;
    transition: box-shadow 0.3s ease;
  }

  .text-input:focus {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
      rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
}

mat-card-content {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.form-column {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .number-input {
    cursor: pointer;
    text-align: center;
    width: 25%;
    min-width: 40px;
    min-height: 20px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(44, 44, 44, 0.55) 0px -1px 2px 0px inset;
    transition: box-shadow 0.3s ease;
  }
  .number-input:focus {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
      rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }

  .checkbox-input {
    height: 20px;
  }

  .checkbox-input input[type="checkbox"] {
    display: none;
    height: 20px;
  }

  .checkbox-input .custom-pill {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: var(--color-warn);
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .checkbox-input .custom-pill::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 1px;
    top: 1px;
    transition: transform 0.3s ease;
  }

  .checkbox-input input[type="checkbox"]:checked + .custom-pill {
    background-color: var(--color-primary);
  }

  .checkbox-input input[type="checkbox"]:checked + .custom-pill::before {
    transform: translateX(20px);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
