<div class="keyword-container">
  <div class="content">
    <span
      class="keyword"
      [matTooltip]="item.description"
      (click)="preventDefault($event)"
      [matTooltipShowDelay]="100"
      >{{ item.name }}</span
    >
    <span
      class="keyword"
      [matTooltip]="ability.description"
      (click)="preventDefault($event)"
      [matTooltipShowDelay]="100"
      >{{ ability.name }}</span
    >
  </div>
  <div class="content">
    <span
      *ngFor="let type of types"
      [style.background-color]="getColor(type)"
      [style.color]="getTextColor(type)"
      >{{ capitalizeWord(type) }}</span
    >
    <span
      matBadge="T"
      matBadgeColor="accent"
      matBadgeSize="small"
      matTooltip="Tera Type"
      [style.background-color]="getColor(tera)"
      [style.color]="getTextColor(tera)"
      >{{ capitalizeWord(tera) }}</span
    >
  </div>
</div>
