.grid-container {
  box-sizing: border-box;
  display: grid;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3%;
  row-gap: 3%;

  .attack-capsule {
    display: flex;
    cursor: help;
    border-right: 15px solid;
    border-left: 15px solid;
    box-shadow: rgba(44, 44, 44, 0.55) 0px -1px 2px 0px inset;
    box-sizing: border-box;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }
}
