mat-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-bottom: 5px solid var(--color-accent);

  span {
    font-family: "Baloo 2", cursive;
    font-weight: 800;
  }

  .homeButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    img {
      height: 80%;
      margin-right: 5%;
    }
  }
}
