<h1>{{ room.name }}'s room</h1>
<div *ngFor="let player of room.players">
  {{ player.pseudo }}
</div>

<ng-container *ngIf="player.sit >= 0">
  <app-pokemon-card-grid
    [pokemonSets]="player.toChoseFrom"
    [hasPicked]="player.hasPicked"
    (picked)="nextPick(room.id, $event)"
  >
  </app-pokemon-card-grid>

  <app-pokemon-card-grid
    cdkDropList
    #team="cdkDropList"
    [cdkDropListData]="player.team"
    [pokemonSets]="player.team"
    (picked)="nextPick(room.id, $event)"
  ></app-pokemon-card-grid>
  <button mat-raised-button color="accent" (click)="startGame(room.id)">
    Launch
  </button>
</ng-container>
