<div class="room-container">
  <app-table-sits
    [players]="room.players"
    [rotation]="room.boostersLeft % 2 == 0"
  ></app-table-sits>
  <div class="button-row">
    <button
      *ngIf="isDraftOver()"
      mat-raised-button
      color="primary"
      (click)="copyTeamToClipboard()"
      [disabled]="
        finalTeam.length != 6 &&
        finalTeam.length != room.nbrBooster * room.pkmnPerBooster
      "
    >
      Export Team<mat-icon>content_copy</mat-icon>
    </button>
    <button
      *ngIf="!room.hasStarted && isPlayerOwner"
      mat-raised-button
      color="primary"
      (click)="startGame(room.id)"
    >
      Launch <mat-icon>cached</mat-icon>
    </button>
    <button
      *ngIf="!room.hasStarted"
      mat-raised-button
      color="accent"
      (click)="CopyLinkToClipboard()"
      title="Copy room link for sharing"
    >
      Copy room link <mat-icon>link</mat-icon>
    </button>
  </div>
  <div class="game-ui" *ngIf="room.hasStarted">
    <h1 *ngIf="!isDraftOver()">
      📦 Pack ({{ room.nbrBooster - room.boostersLeft + 1 }}/{{
        room.nbrBooster
      }}) :
    </h1>
    <app-pokemon-card-grid
      *ngIf="!isDraftOver()"
      [pokemonSets]="player.toChoseFrom"
      [hasPicked]="player.hasPicked"
      (picked)="nextPick(room.id, $event)"
    >
    </app-pokemon-card-grid>

    <h1 *ngIf="isDraftOver()">🔥 The final team :</h1>
    <app-pokemon-card-grid
      *ngIf="isDraftOver()"
      [pokemonSets]="finalTeam"
      (addOrRemoveFromTeam)="addOrRemoveFromTeam($event)"
    ></app-pokemon-card-grid>

    <h1>🐾 Pokemons picked :</h1>
    <app-pokemon-card-grid
      [pokemonSets]="player.team"
      (addOrRemoveFromTeam)="addOrRemoveFromTeam($event)"
    ></app-pokemon-card-grid>
  </div>
</div>
