<div class="room-container">
  <app-table-sits
    [players]="room.players"
    [rotation]="room.boostersLeft % 2 == 0"
  ></app-table-sits>

  <div class="game-ui" *ngIf="player.sit >= 0">
    <button
      *ngIf="player.toChoseFrom.length == 0 && room.boostersLeft == 0"
      mat-raised-button
      color="accent"
      (click)="copyTeamToClipboard()"
    >
      Export Team
    </button>
    <app-pokemon-card-grid
      [pokemonSets]="player.toChoseFrom"
      [hasPicked]="player.hasPicked"
      (picked)="nextPick(room.id, $event)"
    >
    </app-pokemon-card-grid>

    <app-pokemon-card-grid
      [pokemonSets]="player.team"
      (picked)="nextPick(room.id, $event)"
    ></app-pokemon-card-grid>
    <button
      *ngIf="!room.hasStarted && isPlayerOwner"
      mat-raised-button
      color="accent"
      (click)="startGame(room.id)"
    >
      Launch
    </button>
  </div>
</div>
