.pokemon-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  background-color: rgb(240, 230, 230);
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
