.mat-card-pokemon {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  app-pokemon-card {
    width: 100%;
  }
}

.grid-container {
  display: grid;
  column-gap: 0.3%;
  row-gap: 0.3%;
}

/* Small screens */
@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Medium screens */
@media (min-width: 701px) and (max-width: 1100px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Large screens */
@media (min-width: 1101px) and (max-width: 1600px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Very Large screens */
@media (min-width: 1601px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
