.mat-card-pokemon {
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}

.grid-container {
  display: grid;
  column-gap: 15px;
  row-gap: 15px;
}

.selected {
  box-shadow: var(--color-accent) 0px 0px 0px 2px,
    var(--color-primary) 0px 0px 0px 4px;
}

@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 701px) and (max-width: 1100px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1101px) and (max-width: 1600px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1601px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  color: white;
  font-size: 1.6em;
  font-weight: 600;
  border-radius: 20px;
}
