<div class="grid-container">
  <mat-card
    class="mat-card-pokemon"
    *ngFor="let set of pokemonSets"
    (click)="preselect(set)"
    [ngClass]="{
      'box-elevation-5 selected': set.name === selected && !hasPicked
    }"
  >
    <app-pokemon-card [pokemonSet]="set"> </app-pokemon-card>
    <div class="overlay" *ngIf="set.name === selected && !hasPicked">
      <img
        (click)="pick(set)"
        class="pokeball"
        src="../../assets/poke.png"
        alt="logo"
      />
    </div>
  </mat-card>
</div>
