<div class="welcome-text">
  <h1>
    Welcome to <span class="big name" (click)="greeting()">Draftmon</span
    ><span class="big">!</span>
  </h1>

  <br />
  <p class="sub">
    You can here draft pokemons with your friends or foes and export your team
    to battle on
    <span class="underline" (click)="openShowdown()">Pokemon Showdown</span>.
    <br />
    Click <span class="underline" (click)="openTutorial()">here</span> to ensure
    you're making the most out of Draftmon!
  </p>
</div>
