.name {
  font-family: "Baloo 2", cursive;
  color: var(--color-primary);
  font-weight: 800;
  text-decoration: underline solid 4px var(--color-accent);
}

.big {
  font-size: 1.6rem;
}

.sub {
  font-size: 1rem;
}

.underline {
  cursor: pointer;
  font-family: "Baloo 2", cursive;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--color-primary);
  text-decoration: underline solid 2px var(--color-accent);
}

.welcome-text {
  box-sizing: border-box;
  padding: 30px;
  border-radius: 15px;
  box-shadow: rgba(44, 44, 44, 0.55) 0px -1px 2px 0px inset;
}
