<mat-card class="nickname-form">
  <form (ngSubmit)="updateNickname()" #form="ngForm">
    <mat-card-header class="form-field-text">
      <input
        id="roomName"
        type="text"
        matInput
        placeholder="Cool nickname"
        [(ngModel)]="nickname"
        required
        maxlength="30"
        name="nickname"
      />
    </mat-card-header>

    <button
      type="submit"
      mat-flat-button
      color="primary"
      [disabled]="!formIsValid()"
    >
      Change nickname
    </button>
  </form>
</mat-card>
