<div class="pokemon-grid">
  <div class="sprite">
    <img alt="{{ pokemonSet.name }}" src="{{ pokemonSet.sprite }}" />
  </div>
  <div class="name">
    {{ pokemonSet.name }}
    {{ pokemonSet.role }}
  </div>
  <app-pokemon-card-types
    [types]="pokemonSet.types"
    [tera]="pokemonSet.teraType.toLowerCase()"
    class="types"
  >
  </app-pokemon-card-types>
  <app-pokemon-card-keywords
    [item]="pokemonSet.item"
    [ability]="pokemonSet.ability"
    class="keyword"
  >
  </app-pokemon-card-keywords>
  <app-pokemon-card-stats
    [evs]="pokemonSet.evs"
    [ivs]="pokemonSet.ivs"
    [baseStats]="pokemonSet.baseStats"
    class="stats"
  ></app-pokemon-card-stats>
  <app-pokemon-card-moves
    class="moves"
    [moves]="pokemonSet.moves"
  ></app-pokemon-card-moves>
</div>
