.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: rgb(14, 103, 181);

  & .sprite {
    grid-area: 1 / 1 / 4 / 4;
    background-color: aliceblue;
  }

  & .name {
    grid-area: 1 / 4 / 3 / 11;
  }

  & .types {
    grid-area: 1 / 11 / 3 / 17;
    background-color: aqua;
  }

  & .keywords {
    grid-area: 3 / 4 / 4 / 17;
    background-color: aquamarine;
  }

  & .stats {
    grid-area: 4 / 1 / 9 / 8;
    background-color: bisque;
  }

  & .moves {
    grid-area: 4 / 8 / 9 / 17;
    background-color: chocolate;
  }
}
