.accueil {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  margin-top: 3vh;
  width: min(98%, 1500px);
  .forms {
    min-width: 105px;
    max-width: 300px;
    width: 24%;
    padding-right: 8px;
  }
  app-room-list {
    min-width: min(74%, calc(83% - 105px));
    width: max(74%, calc(83% - 105px));
  }

  app-nickname-form {
    padding: 8px;
  }
}

.welcome-message-container {
  padding-top: 20px;
  text-align: left;
  align-items: start;
  display: flex;
  width: min(98%, 1500px);
}

.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
