<mat-card class="room-list-card">
  <ng-container *ngFor="let room of rooms">
    <button
      *ngIf="!room.hasStarted"
      mat-stroked-button
      (click)="joinRoom(room)"
      class="joinRoom-button"
    >
      <span class="wrap-text">Join {{ room.name }}</span
      >{{ " " }}
      <span class="wrap-text"
        >({{ room.players.length }}/{{ room.size }} 🙋):</span
      >{{ " " }}
      <span class="wrap-text"
        >{{ room.nbrBooster }}📦 x {{ room.pkmnPerBooster }}🐾</span
      >
    </button>
  </ng-container>
  <button
    mat-flat-button
    color="primary"
    class="refresh-button"
    (click)="refresh()"
  >
    Refresh list
  </button>
</mat-card>
