<mat-card class="filter-form">
  <mat-card-header class="form-field-text">
    <input
      type="text"
      [(ngModel)]="filterValue"
      (keyup)="applyFilter()"
      placeholder="Search 🔎"
      maxlength="30"
    />
  </mat-card-header>
  <mat-card class="room-list-card">
    <button
      mat-stroked-button
      color="warn"
      class="joinRoom-button"
      *ngIf="currentRoomId && currentRoomId !== DEFAULT.NO_ROOM"
      (click)="redirectToRoom(currentRoomId)"
    >
      Reconnect to current room
    </button>
    <ng-container
      *ngFor="
        let room of filteredRooms
          | slice : pageIndex * pageSize : (pageIndex + 1) * pageSize
      "
    >
      <button
        *ngIf="!room.hasStarted"
        mat-stroked-button
        (click)="joinRoom(room)"
        class="joinRoom-button"
      >
        <span class="wrap-text">Join {{ room.name }}</span
        >{{ " " }}
        <span class="wrap-text"
          >({{ room.players.length }}/{{ room.size }} 🙋):</span
        >{{ " " }}
        <span class="wrap-text"
          >{{ room.nbrBooster }}📦 x {{ room.pkmnPerBooster }}🐾</span
        >
      </button>
    </ng-container>
  </mat-card>
  <button
    mat-flat-button
    color="primary"
    class="refresh-button"
    (click)="refresh()"
  >
    Refresh rooms
  </button>
</mat-card>

<mat-paginator
  [length]="filteredRooms.length"
  [pageSize]="pageSize"
  (page)="pageEvent($event)"
></mat-paginator>
