<mat-card class="room-list-card">
  <mat-card-header class="room-list-card-header">
    <button mat-raised-button color="primary" (click)="refresh()">
      Refresh list
    </button>
  </mat-card-header>
  <ng-container *ngFor="let room of rooms">
    <button
      *ngIf="!room.hasStarted"
      mat-stroked-button
      (click)="joinRoom(room)"
      class="joinRoom-button"
    >
      Join {{ room.name }} ({{ room.players.length }}/{{ room.size }} 🙋) :
      {{ room.nbrBooster }}📦 x {{ room.pkmnPerBooster }}🐾
    </button>
  </ng-container>
</mat-card>
